# Load Data

In [3]:
import pandas as pd

# Load the CSV file
walmart_df = pd.read_csv(r"C:\Users\augus\OneDrive\Documents\Data analysis data\Walmart.csv")

For preprocessing form this project I have been told to make sure my 
- no rows with any null values kept
- no duplicate rows left
- date time columns are in datetime format
- unit price is in integer/float format
- make a new column called total price which will = unit_price * quantity

# Analyze Data

In [6]:
#show the top 5 rows
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [7]:
#I want to make sure the data is clean 

#check for missing values in columns
print(walmart_df.isnull().sum())

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [8]:
#Drop rows with any null values
walmart_df = walmart_df.dropna()

In [9]:
print(walmart_df.isnull().sum())

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [10]:
#how many duplicate rows we have
walmart_df.duplicated().sum()

51

In [11]:
#drop the duplicate rows
walmart_df = walmart_df.drop_duplicates()

In [12]:
walmart_df.duplicated().sum()

0

In [13]:
walmart_df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [14]:
#Convert 'date' to datetime format and 'time' to time format
walmart_df['date'] = pd.to_datetime(walmart_df['date'], format='%d/%m/%y')
walmart_df['time'] = pd.to_datetime(walmart_df['time'], format='%H:%M:%S').dt.time

In [15]:
# Remove dollar sign and convert 'unit_price' to a numeric format
walmart_df['unit_price'] = walmart_df['unit_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\augus\AppData\Local\Temp\ipykernel_33372\3953933776.py:2: SyntaxWarning: invalid escape sequence '\$'
  walmart_df['unit_price'] = walmart_df['unit_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [16]:
walmart_df.dtypes

invoice_id                 int64
Branch                    object
City                      object
category                  object
unit_price               float64
quantity                 float64
date              datetime64[ns]
time                      object
payment_method            object
rating                   float64
profit_margin            float64
dtype: object

In [17]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48

In [18]:
#any values below 0 store in df
invalid_values = walmart_df[
        (walmart_df['quantity'] < 0) | 
        (walmart_df['profit_margin'] < 0)
    ]

In [19]:
#Create a new column 'total_price' which is the product of 'unit_price' and 'quantity'
walmart_df['total_price'] = walmart_df['unit_price'] * walmart_df['quantity']

In [20]:
walmart_df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [21]:
invalid_values

Empty DataFrame
Columns: [invoice_id, Branch, City, category, unit_price, quantity, date, time, payment_method, rating, profit_margin]
Index: []

In [22]:
walmart_df['category'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [23]:
walmart_df['Branch'].unique()

array(['WALM003', 'WALM048', 'WALM067', 'WALM064', 'WALM013', 'WALM026',
       'WALM088', 'WALM100', 'WALM066', 'WALM065', 'WALM035', 'WALM027',
       'WALM031', 'WALM008', 'WALM029', 'WALM061', 'WALM053', 'WALM044',
       'WALM083', 'WALM023', 'WALM001', 'WALM072', 'WALM046', 'WALM012',
       'WALM075', 'WALM076', 'WALM098', 'WALM021', 'WALM096', 'WALM022',
       'WALM095', 'WALM041', 'WALM070', 'WALM030', 'WALM033', 'WALM079',
       'WALM042', 'WALM036', 'WALM056', 'WALM058', 'WALM015', 'WALM063',
       'WALM089', 'WALM093', 'WALM045', 'WALM005', 'WALM078', 'WALM037',
       'WALM069', 'WALM087', 'WALM020', 'WALM007', 'WALM017', 'WALM094',
       'WALM071', 'WALM090', 'WALM097', 'WALM043', 'WALM011', 'WALM049',
       'WALM040', 'WALM034', 'WALM014', 'WALM004', 'WALM057', 'WALM055',
       'WALM038', 'WALM025', 'WALM024', 'WALM085', 'WALM016', 'WALM018',
       'WALM068', 'WALM002', 'WALM062', 'WALM052', 'WALM047', 'WALM054',
       'WALM099', 'WALM074', 'WALM028', 'WALM019', 'WALM084', 'WALM039',
       'WALM060', 'WALM073', 'WALM059', 'WALM086', 'WALM050', 'WALM081',
       'WALM009', 'WALM077', 'WALM091', 'WALM051', 'WALM010', 'WALM032',
       'WALM082', 'WALM006', 'WALM092', 'WALM080'], dtype=object)

# Question 1

Question: What are the different payment methods, and how many transactions and
items were sold with each method?

Purpose: This helps understand customer preferences for payment methods, aiding in
payment optimization strategies.

In [26]:
walmart_df['payment_method'].unique()

array(['Ewallet', 'Cash', 'Credit card'], dtype=object)

In [27]:
#create a df payment summary that will have the payment method transaction and total items column
#first we group the data by payment column
payment_summary = walmart_df.groupby('payment_method').agg(
    #have the agg function where we declare a column and the value we want inside it
    #for example for 'transaction we want the number of unique invouice id'
    transactions=('invoice_id', 'nunique'),
    total_items=('quantity', 'sum')
).reset_index()

In [28]:
#answer
payment_summary

  payment_method  transactions  total_items
0           Cash          1832       4984.0
1    Credit card          4256       9567.0
2        Ewallet          3881       8932.0

# Question 2

Question: Which category received the highest average rating in each branch?

Purpose: This allows Walmart to recognize and promote popular categories in specific
branches, enhancing customer satisfaction and branch-specific marketing

In [31]:
#Group by 'Branch' and 'category', then calculate the average rating
average_rating_per_category = walmart_df.groupby(['Branch', 'category'])['rating'].mean().reset_index()

In [32]:
average_rating_per_category.head()

    Branch                category    rating
0  WALM001  Electronic accessories  7.450000
1  WALM001     Fashion accessories  6.357576
2  WALM001      Home and lifestyle  6.163889
3  WALM001       Sports and travel  6.533333
4  WALM002  Electronic accessories  8.125000

In [33]:
#For each branch, find the category with the highest average rating
#average_rating_per_category.groupby('Branch')['rating'] makes sure we group for example walm001 on the branches then the rating of walm001 
#idxmax() finds the index of the row that contains the maximum value
#loc[] function is used to select the row we want so here since we are returning 1 per each branch it only gets the highest rating
highest_rated_category_per_branch = average_rating_per_category.loc[average_rating_per_category.groupby('Branch')['rating'].idxmax()]

In [34]:
#Reset the index
highest_rated_category_per_branch = highest_rated_category_per_branch.reset_index(drop=True)

In [35]:
#answer
highest_rated_category_per_branch.head()

    Branch                category    rating
0  WALM001  Electronic accessories  7.450000
1  WALM002      Food and beverages  8.250000
2  WALM003       Sports and travel  7.500000
3  WALM004      Food and beverages  9.300000
4  WALM005       Health and beauty  8.366667

# Question 3

Question: What is the busiest day of the week for each branch based on transaction
volume?

Purpose: This insight helps in optimizing staffing and inventory management to
accommodate peak days.

In [38]:
#Extract the day of the week from the 'date' column (0=Monday, 6=Sunday)
walmart_df['day_of_week'] = walmart_df['date'].dt.day_name()

In [39]:
#Group by 'Branch' and 'day_of_week', then count the number of transactions (unique 'invoice_id')
transaction_volume_per_day = walmart_df.groupby(['Branch', 'day_of_week'])['invoice_id'].nunique().reset_index()

In [40]:
transaction_volume_per_day.head()

    Branch day_of_week  invoice_id
0  WALM001      Friday          12
1  WALM001      Monday           8
2  WALM001    Saturday          10
3  WALM001      Sunday           7
4  WALM001    Thursday          16

In [41]:
#For each branch, find the busiest day (the day with the highest transaction count)
busiest_day_per_branch = transaction_volume_per_day.loc[transaction_volume_per_day.groupby('Branch')['invoice_id'].idxmax()]

In [42]:
#Reset the index 
busiest_day_per_branch = busiest_day_per_branch.reset_index(drop=True)

In [43]:
#answer
busiest_day_per_branch.head()

    Branch day_of_week  invoice_id
0  WALM001    Thursday          16
1  WALM002    Thursday          15
2  WALM003     Tuesday          33
3  WALM004      Sunday          14
4  WALM005   Wednesday          19

# Question 4

Question: How many items were sold through each payment method?

Purpose: This helps Walmart track sales volume by payment type, providing insights
into customer purchasing habits.

In [46]:
#Group by 'payment_method' and sum the 'quantity' to get the total number of items sold
items_sold_per_payment_method = walmart_df.groupby('payment_method')['quantity'].sum().reset_index()

In [47]:
#answer
items_sold_per_payment_method

  payment_method  quantity
0           Cash    4984.0
1    Credit card    9567.0
2        Ewallet    8932.0

# Question 5

Question: What is the most frequently used payment method in each branch?

Purpose: This information aids in understanding branch-specific payment preferences,
potentially allowing branches to streamline their payment processing systems.

In [50]:
#Group by 'Branch' and 'payment_method', then count the occurrences
payment_method_count = walmart_df.groupby(['Branch', 'payment_method']).size().reset_index(name='count')

In [51]:
payment_method_count.head()

    Branch payment_method  count
0  WALM001    Credit card     29
1  WALM001        Ewallet     45
2  WALM002           Cash      2
3  WALM002    Credit card     26
4  WALM002        Ewallet     37

In [52]:
#For each branch, find the most frequently used payment method
most_frequent_payment_method_per_branch = payment_method_count.loc[payment_method_count.groupby('Branch')['count'].idxmax()]

In [53]:
most_frequent_payment_method_per_branch.head()

     Branch payment_method  count
1   WALM001        Ewallet     45
4   WALM002        Ewallet     37
6   WALM003    Credit card    115
10  WALM004        Ewallet     44
13  WALM005        Ewallet     56

In [54]:
#Reset the index
most_frequent_payment_method_per_branch = most_frequent_payment_method_per_branch.reset_index(drop=True)

In [55]:
#answer
most_frequent_payment_method_per_branch.head()

    Branch payment_method  count
0  WALM001        Ewallet     45
1  WALM002        Ewallet     37
2  WALM003    Credit card    115
3  WALM004        Ewallet     44
4  WALM005        Ewallet     56

# connect data to sql database

In [101]:
from sqlalchemy import create_engine
import pyodbc

for a company u need most likely
Connection details

server = 'KARIELS4070PC'
database = 'master'
username = 'your_username' #input username and password 
password = 'your_password'

Create the connection engine

engine = create_engine(f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server')

In [135]:
#Connection details
server = 'KARIELS4070PC'
database = 'master'

In [137]:
#Create the connection engine with Windows Authentication
engine = create_engine(f'mssql+pyodbc://@{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server')

In [139]:
engine

Engine(mssql+pyodbc://@KARIELS4070PC/master?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes)

UNCOMMENT CODE BELOW TO PUSH TO DATABASE

In [132]:
#Push the DataFrame to SQL Server as 'walmart' table
#uncomment this code to PUSH TO DATABASE
#walmart_df.to_sql('walmart', con=engine, if_exists='replace', index=False)